@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/pattern-background-desktop.svg);
    min-height: 100vh;
    font-family: Red Hat Display, sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 93%, );
    position: relative;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    border-radius: 20px;
    overflow: hidden;
    background-color: hsl(225, 100%, 98%);
}

.text-content {
    background-color: hsl(225, 100%, 98%, );
    padding: 7%;
    text-align: center;
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
}

.subtitles {
    color: hsl(224, 23%, 55%);
    margin-bottom: 25px;
}

.plan-box {
    background-color: rgb(233, 236, 248);
    border-radius: 12px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div {
    margin-left: 25px;
}

.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: hsl(224, 47%, 23%);
}

.plan-box-left div p {
    font-size: 14px;
    color: hsl(224, 23%, 55%);
}

.plan-box a {
    font-weight: 900;
    color: hsl(224, 47%, 23%);
}

.plan-box a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%);
    transition: color .3s, ease;
}

a.proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 20px 0;
    border-radius: 12px;
    margin: 30px 0;
}

a.proceed-btn a:hover {
    background-color: hsl(224, 23%, 55%);
    transition: color .3s ease;
}

a.cancel-order {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
}

a.cancel-order a:hover {
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 425px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .card {
        max-width: 87%;
    }
    .title {
        font-size: 23px
    }
    div.plan-box {
        padding: 12px;
    }
    .plan-box-left div {
        margin-left: 10px;
    }
    a.proceed-btn,
    a.cancel-order,
    .plan-box {
        font-size: 10px
    }
    .text-content {
        padding: 9% 7%;
    }
}